html, body {
  width: 100%;
  height: 100%;
}

.root{
  width: 100%;
  height: 100%;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  background: ;  
}

.container__img{
  object-fit: cover;
  width: 40%;
}

.content{
  width: 60%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  background-color:#BC8F8F;
}

.content__name{
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content__description{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content__socialmidias{
  display: flex;
  list-style: none;
  padding: 0;
}

.content__socialmidias__github{
}

.content__socialmidias__linkedin{
  margin-left: 10px;
}

.content__socialmidias__twitter{
  margin-left: 10px;
}

.socialmidias__link{

}